.py[cod]
__pycache__/
.mypy_cache/
.pytest_cache/
.ruff_cache/
.pdm-python
.ipynb_checkpoints/*
**/.ipynb_checkpoints/**
prelim_discovery_analysis/processed_data_dfs/smor_parcel_dfs/*indiv*.pkl
prelim_discovery_analysis/processed_data_dfs/smor_parcel_dfs/*.nii
prelim_discovery_analysis/processed_data_dfs/smor_parcel_dfs/*.tsv
!prelim_discovery_analysis/processed_data_dfs/smor_parcel_dfs/*indiv*_averaged.pkl
!prelim_discovery_analysis/processed_data_dfs/smor_parcel_dfs/*_averaged.pkl
prelim_discovery_analysis/processed_data_dfs/schafer400_dfs/*indiv*.pkl
!prelim_discovery_analysis/processed_data_dfs/schafer400_dfs/*indiv*_averaged.pkl
!prelim_discovery_analysis/processed_data_dfs/schafer400_dfs/*_averaged.pkl
